h1 {
  color: red;
  text-align: center;
}

h2 {
  font-stlye: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: bold;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

.image1,
.image2,
.image3{
  width: 32.5%;
  display: inline-block;
  vertical-align: top;
}
img{
  width:100%;
}
